:root {
  --bgc: #051307;
  --mainc: #e0e0e0;
  --textc: #000000;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
  color: var(--textc);
  font-weight: normal;
}
body {
  background-color: var(--bgc);
}
.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  display: flex;
  width: 1000px;
  height: 500px;
  justify-content: top;
  align-items: center;
  flex-direction: column;
  background-color: var(--mainc);
  border-radius: 10px;
}
.title {
  padding: 20px;
  text-align: center;
}
.task-input {
  width: 80%;
  height: 40px;
  padding: 10px;
  margin-left: -50px;
  border-radius: 10px;
  border: 2px solid #dadada;
}
.post {
  width: 50px;
  height: 40px;
  border-radius: 10px;
  border: 3px solid #dadada;
  background-color: rgb(0, 255, 76);
}
.cell-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cell {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  max-width: 1000%;
  border-radius: 4px;
  text-align: center;
  padding: 10px;
  margin: 5px;
  background-color: #fff;
}
.close-cell-btn {
  width: 100px;
  height: 50px;
  background-color: rgb(218, 70, 50);
  border-radius: 3px;
}